/** X-Small devices (portrait phones, less than 576px) **/

// Small devices (landscape phones, less than 768px)
@include media-breakpoint-down(sm) {
	#main-nav {
		padding: 1.5rem 0;

		.navbar-brand {
			font-size: 1.5rem;
		}

		#user-controls {
			border-top: 2px solid #ccc;
			padding: 0.5rem 0;
			margin-top: 0.5rem;
		}
	}

	#actions {
		.btn {
			margin-bottom: 0.5rem;
		}
	}
}

// Medium devices (tablets, less than 992px)
@include media-breakpoint-down(md) {
	//Custom Styles HERE
}

// Large devices (desktops, less than 1200px)
@include media-breakpoint-down(lg) {
	//Custom Styles HERE
}

// X-Large devices (large desktops, less than 1400px)
@include media-breakpoint-down(xl) {
	//Custom Styles HERE
}
