.modal {
	.modal-title {
		text-transform: capitalize;
		font-weight: bold;
		font-size: 1.5rem;
	}

	label {
		font-weight: bold;
		padding: 0.2rem 0;
	}

	.close {
		padding: 1rem;
	}

	.fa-rectangle-xmark {
		color: $white;
		padding: 0;

		&:hover {
			color: $white;
			background-color: $danger;
		}
	}

	&#add {
		.form-control {
			border: 1.4px solid #ccc;
		}

		&PostModal {
			.form-control {
				&:hover {
					border: 1.4px solid $primary;
				}
			}
		}

		&CategoryModal {
			.form-control {
				&:hover {
					border: 1.4px solid $success;
				}
			}
		}

		&UserModal {
			.form-control {
				&:hover {
					border: 1.4px solid $warning;
				}
			}
		}
	}
}

#backBtn {
	&-posts {
		i {
			color: $primary;
		}

		&:hover {
			i {
				color: darken($primary, 5);
			}
		}
	}

	&-categories {
		i {
			color: $success;
		}

		&:hover {
			i {
				color: darken($success, 5);
			}
		}
	}

	&-users {
		i {
			color: $warning;
		}

		&:hover {
			i {
				color: darken($warning, 5);
			}
		}
	}

	&-details {
		i {
			color: gray;
		}

		&:hover {
			i {
				color: darken(gray, 8);
			}
		}
	}
}
